{%extends "pelaporan/template.html"%}
{%block title%} Form Laporan {%endblock%}


{%block content%}
<div class="card table-responsive" style="border-radius: 0px !important;">
    <!-- /.card-header -->
    <div class="card-body">
            <!-- Grid -->
        <form id="msform" style="height:auto; width:auto;" method="post" action="Dashboard.html" enctype="multipart/form-data">
        <!-- fieldsets -->
            <fieldset>
                
                <div style="margin:auto;">
                    <div class="form-group row" style="padding-bottom:1rem;">
                        <label class="control-label col-sm-3" for="nama">Nama:</label>
                        <div class="col-sm-9">
                            <input type="text" name="nama" class = "form-control inputsm"></div>
                        </div>
                        <!-- <div class="col-3">
                            <span class="error_form" id="sumbercode_error">
                            </span>
                        </div> -->
                    </div>
                    <div class="row" style="padding-bottom:1rem;">
                        <div class="col-sm-2" style="padding-top:5px; text-align:left;">
                            Dosen pembimbing 1:
                        </div>
                        <div class="col-sm">
                            Tono Tonoman
                        </div>
                        <!-- <div class="col-3">
                            <span class="error_form" id="sumbercode_error">
                            </span>
                        </div> -->
                    </div>
                    <div class="row" style="padding-bottom:1rem;">
                        <div class="col-sm-2" style="padding-top:5px; text-align:left;">
                            Dosen pembimbing 2:
                        </div>
                        <div class="col-sm">
                            Namey Namename
                        </div>
                        <!-- <div class="col-3">
                            <span class="error_form" id="sumbercode_error">
                            </span>
                        </div> -->
                    </div>
                    <div class="row" style="padding-bottom:1rem;">
                        <div class="col-sm-2" style="padding-top:5px; text-align:left;">
                            Rumpun mata kuliah:
                        </div>
                        <div class="col-sm">
                            Informatika
                        </div>
                        <!-- <div class="col-3">
                            <span class="error_form" id="sumbercode_error">
                            </span>
                        </div> -->
                    </div>
                    <div class="row" style="padding-bottom:1rem;">
                        <div class="col-sm-2" style="padding-top:5px; text-align:left;">
                            Judul TA
                        </div>
                        <div class="col-sm">
                            Judul
                        </div>
                        <!-- <div class="col-3">
                            <span class="error_form" id="sumbercode_error">
                            </span>
                        </div> -->
                    </div>
                    <div class="row" style="padding-bottom:1rem;">
                        <div class="col-sm-2" style="padding-top:5px; text-align:left;">
                            Keyword:
                        </div>
                        <div class="col-sm">
                            scheduling, optimasi
                        </div>
                        <!-- <div class="col-3">
                            <span class="error_form" id="sumbercode_error">
                            </span>
                        </div> -->
                    </div>
                    <div class="row" style="padding-bottom:1rem;">
                        <div class="col-sm-2" style="padding-top:5px; text-align:left;">
                            File TA
                        </div>
                        <div class="col-sm">
                            <a href="#">download</a>
                        </div>
                        <!-- <div class="col-3">
                            <span class="error_form" id="sumbercode_error">
                            </span>
                        </div> -->
                    </div><br>
                    <div style="text-align:left;">
                        
Abstraksi:
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla ex id lacus tempor semper. Nam quis nunc ac arcu congue faucibus sed id felis. Mauris justo nisi, finibus eget tincidunt nec, dapibus ac sapien. Aliquam vitae maximus tellus. In et ante ipsum. Donec placerat accumsan varius. In laoreet, tellus nec sagittis semper, orci enim viverra est, tristique aliquet erat augue id nisl. Aenean pellentesque sapien at magna aliquam sodales. Proin pellentesque augue dui, et molestie ipsum convallis vehicula. Vestibulum id tellus nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mauris nunc, hendrerit in tincidunt eu, suscipit nec nisi.

Nulla eleifend finibus justo quis auctor. Nullam tellus enim, pharetra pharetra felis eu, imperdiet laoreet lorem. Nullam vulputate, sem id malesuada accumsan, metus massa cursus diam, in venenatis diam eros ac est. Ut in felis tempor, fermentum libero in, lobortis augue. Etiam ac congue justo. Duis vulputate vitae mi a dictum. Aliquam sit amet dui non mi laoreet posuere eget non tellus. Morbi imperdiet maximus magna, et facilisis magna feugiat in.
                    
                    </div>
                    
                </div>
            </fieldset>
        </form>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{%endblock%}