<input type="text" name="uid" id = "uid">
<script type="text/javascript">
	const uid = document.getElementById('uid')
	uid.addEventListener("keyup", 
	function (event) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        	cur = JSON.parse(this.responseText)
            console.log(cur);
            
        }
    	};
		event.preventDefault();
	    if (event.which == 13 || event.keyCode == 13) {
	       console.log("ajax/" + uid.value)
	        xhttp.open("GET", "/pelaporan/ajax/" + uid.value, true);
			xhttp.send();
	        return false;
    }
	});

</script>

function get_tamu(){

	index = nama.selectedIndex-1
	console.log(index)
	console.log(item[index])
	cur = item[index]
	institusi.value = cur['institusi']
	no_hp.value = cur['hp']
	uid.value = cur['uid']
	if (cur['tid'] == "KTP"){
		tid.options[0].selected = true
		console.log(tid.options[0].selected)
	}
	else{
		tid.options[2].selected = false
	}
    kedatangan  = cur['kedatangan']
	for (key in kedatangan){
        var option = document.createElement("option");
        option.text = kedatangan[key]
        option.value = key
        tanggal.add(option)
    }

};