<!DOCTYPE html>
<html>
<head>
	<title>Halaman Utama Buku Tamu</title>
</head>
<body>
	<div id="Infotable">
		
		<div id="Infoform">
			
			<form method="POST" action="{%url 'bukutamu:form'%}">
			{% csrf_token %}
			<h3>UID : <input type="text" name="UID" id="UID"></h3>
			
			<input type="submit" name="out">
			</form>
		</div>
		<div id="infohistory">
			<tr>
    			<td>Tanggal Kunjungan</td>
   				<td>Bertemu dengan</td>
    			<td>Keperluan</td>
  			</tr>
		</div>

	</div>

</body>
</html>